<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>br.senac.sp.controller.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vendaController</servlet-name>
        <servlet-class>br.senac.sp.controller.vendaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>produtoController</servlet-name>
        <servlet-class>br.senac.sp.controller.produtoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpregadoController</servlet-name>
        <servlet-class>TESTE.EmpregadoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TesteEditarServlet</servlet-name>
        <servlet-class>CONTROLLER_TESTE.TesteEditarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarVendaController</servlet-name>
        <servlet-class>br.senac.sp.controller.editarVendaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>formaPagtoController</servlet-name>
        <servlet-class>br.senac.sp.controller.formaPagtoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteVendaController</servlet-name>
        <servlet-class>br.senac.sp.controller.ClienteVendaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioSinteticoController</servlet-name>
        <servlet-class>br.senac.sp.controller.RelatorioSinteticoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioAnaliticoController</servlet-name>
        <servlet-class>br.senac.sp.controller.RelatorioAnaliticoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteController</servlet-name>
        <servlet-class>br.senac.sp.controller.ClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menuController</servlet-name>
        <servlet-class>br.senac.sp.controller.menuController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/UsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vendaController</servlet-name>
        <url-pattern>/vendaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>produtoController</servlet-name>
        <url-pattern>/produtoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpregadoController</servlet-name>
        <url-pattern>/EmpregadoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TesteEditarServlet</servlet-name>
        <url-pattern>/TesteEditarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarVendaController</servlet-name>
        <url-pattern>/editarVendaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>formaPagtoController</servlet-name>
        <url-pattern>/formaPagtoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteVendaController</servlet-name>
        <url-pattern>/ClienteVendaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioSinteticoController</servlet-name>
        <url-pattern>/RelatorioSinteticoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioAnaliticoController</servlet-name>
        <url-pattern>/RelatorioAnaliticoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteController</servlet-name>
        <url-pattern>/ClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuController</servlet-name>
        <url-pattern>/menuController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
