body{
    background-image: linear-gradient(to top,  #a3a3a3 0, #a3a3a3 95%, #1f4a54 8%);
    background-repeat: no-repeat;
    width: 1900px;
    height: 1000px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 21px;
    margin-top: 20px;
}

label{
   font: bold 15pt Avenir LT Std; 
   color: white;
}

#pesq{
    border-radius: 5px;
    border: none;
    width: 150px;
    height: 25px;
    cursor: pointer;
    font: bold 12pt Avenir LT Std; 
}

#btnPesq{
    font: bold 12pt Avenir LT Std; 
    border-radius: 6px;
    height: 28px;
    background-color: white;
    border: none;
}

section#fundoTabela{
    background-color: #c4c4c4;
    width: 1380px;
    margin-right: 320px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 110px;
    margin-left: 280px;
}

th{
    border-collapse: collapse;
    font: bold 12pt Avenir LT Std;
    width: 0px;
    height: 16px;
    color: white;
    background-color: #1f4a54;
    margin-top: 100px;
}
td{
    border-collapse: collapse;
    font: bold 12pt Avenir LT Std;
    font-size: 18px;
    width: 106px;
    height: 14px;
    text-align: center;
    color: rgb(43, 43, 43);
}

tr{
    border-collapse: collapse;
    font: bold 12pt Avenir LT Std;
    width: 0px;
    height: 16px;
    color: white;
    background-color: #1f4a54;
    margin-top: 100px;
}


#check {
    width: 50px;
    height: 50px;
    display: none;
    margin-top: 20px;
    margin-left: 165px;
}

#titulo{
    
    margin-left: 500px;
}

#icone {
    cursor: pointer;
    padding: 12px;
    z-index: 1;
    position: absolute;
    margin-top: -227px;
    margin-left: 2px;
}

#sair {
    margin-top: 520px;
    margin-left: 10px;
}

#menu{
   margin-top: -55px;
   margin-left: 230px; 
}

.barra {
    background-color: #1f4a54;
    height: 100%;
    width: 300px;
    position: absolute;
    transition: all .2s linear;
    bottom: 1px;
    left: -300px;
}

nav {
    width: 100%;
    position: absolute;
    top: 60px;
}

nav a {
    text-decoration: none;
}

.link {
    background-color: #1a4049;
    padding: 15px;
    font: bold 14pt Code;
    letter-spacing: 1px;
    font-style: inherit;
    transition: all .2s linear;
    color: white;
    margin-top: 8px;
    border-bottom: 2px solid #1f4a54;
}

.link:hover {
    background-color: #122e35;
}

#check:checked~.barra {
    transform: translateX(300px);
}

p {
    font: bold 14pt Code;
    margin-left: 15px;
    margin-top: 50px;
    color: white;
}

