body {
    background-color: #3a3a3a;
    background-position: left;
}

section#vendas {
    background-color: rgb(236, 236, 236);
    width: 285px;
    height: 285px;
    border-radius: 200px;
    margin-left: 373px;
    margin-top: 85px;
    position: absolute;
}

p#txtVendas {
    margin-top: 390px;
    margin-left: 412px;
    font: bold 20pt Code;
    position: absolute;
}

p#txtRa {
    margin-top: 390px;
    margin-left: 1360px;
    font: bold 20pt Code;
    position: absolute;
}

p#txtRs {
    margin-top: 390px;
    margin-left: 872px;
    font: bold 20pt Code;
    position: absolute;
}

p#txtCadCli {
    margin-top: 830px;
    margin-left: 400px;
    font: bold 20pt Code;
    position: absolute;
}

p#txtCadFunc {
    margin-top: 830px;
    margin-left: 850px;
    font: bold 20pt Code;
    position: absolute;
}

p#txtCadProd {
    margin-top: 830px;
    margin-left: 1370px;
    font: bold 20pt Code;
    position: absolute;
}

#vendas {
    background-color: rgb(255, 255, 255);
    background: url(icone-vendas.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 285px;
    height: 285px;
    border-radius: 200px;
    margin-left: 373px;
    margin-top: 85px;
    border: none;
    cursor: pointer;
    position: absolute;
    outline: none;
}

input#vendas:hover {
    background-color: #c7c7c7;
}

section#rs {
    background-color: rgb(236, 236, 236);
    width: 285px;
    height: 285px;
    border-radius: 200px;
    margin-left: 860px;
    margin-top: 85px;
    position: absolute;
}

#rs {
    background-color: rgb(255, 255, 255);
    background: url(icone-rs.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 285px;
    height: 285px;
    border-radius: 200px;
    margin-left: 860px;
    margin-top: 85px;
    border: none;
    cursor: pointer;
    position: absolute;
    outline: none;
}

input#rs:hover {
    background-color: #c7c7c7;
}

section#ra {
    background-color: rgb(236, 236, 236);
    width: 285px;
    height: 285px;
    border-radius: 200px;
    margin-left: 1350px;
    margin-top: 85px;
    position: absolute;
}

#ra {
    background-color: rgb(255, 255, 255);
    background: url(icone-ra.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 285px;
    height: 285px;
    border-radius: 200px;
    margin-left: 1350px;
    margin-top: 85px;
    border: none;
    cursor: pointer;
    position: absolute;
    outline: none;
}

input#ra:hover {
    background-color: #c7c7c7;
}

section#cadcli {
    background-color: rgb(236, 236, 236);
    width: 285px;
    height: 285px;
    border-radius: 200px;
    margin-left: 373px;
    margin-top: 525px;
    position: absolute;
}

#cadcli {
    background-color: rgb(255, 255, 255);
    background: url(icone-cadcli.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 285px;
    height: 285px;
    border-radius: 200px;
    margin-left: 373px;
    margin-top: 525px;
    border: none;
    cursor: pointer;
    position: absolute;
    outline: none;
}

input#cadcli:hover {
    background-color: #c7c7c7;
}

section#cadfunc {
    background-color: rgb(236, 236, 236);
    width: 285px;
    height: 285px;
    border-radius: 200px;
    margin-left: 860px;
    margin-top: 525px;
    position: absolute;
}

#cadfunc {
    background-color: rgb(255, 255, 255);
    background: url(icone-cadfunc.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 285px;
    height: 285px;
    border-radius: 200px;
    margin-left: 860px;
    margin-top: 525px;
    border: none;
    cursor: pointer;
    position: absolute;
    outline: none;
}

input#cadfunc:hover {
    background-color: #c7c7c7;
}

section#cadprod {
    background-color: rgb(236, 236, 236);
    width: 285px;
    height: 285px;
    border-radius: 200px;
    margin-left: 1350px;
    margin-top: 525px;
    position: absolute;
}

#cadprod {
    background-color: rgb(255, 255, 255);
    background: url(icone-cadprod.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 285px;
    height: 285px;
    border-radius: 200px;
    margin-left: 1350px;
    margin-top: 525px;
    border: none;
    cursor: pointer;
    position: absolute;
    outline: none;
}

input#cadprod:hover {
    background-color: #c7c7c7;
}


/*---------Inicio barra----------*/

input#check {
    width: 50px;
    height: 50px;
    display: none;
    margin-top: 20px;
    margin-left: 165px;
}

input#sair {
    width: 50px;
    height: 50px;
    display: none;
    margin-top: 785px;
    margin-left: 165px;
}

#icone {
    cursor: pointer;
    padding: 12px;
    z-index: 1;
    position: absolute;
    margin-top: -10px;
    margin-left: -2px;
}

#sair {
    cursor: pointer;
    padding: 12px;
    z-index: 1;
    position: absolute;
    margin-top: 730px;
    margin-left: 3px;
}

.barra {
    background-color: #1f4a54;
    height: 100%;
    width: 300px;
    position: absolute;
    transition: all .2s linear;
    bottom: 1px;
    left: -300px;
}

nav {
    width: 100%;
    position: absolute;
    top: 60px;
}

nav a {
    text-decoration: none;
}

.link {
    background-color: #1a4049;
    padding: 15px;
    font: bold 14pt Code;
    letter-spacing: 1px;
    font-style: inherit;
    transition: all .2s linear;
    color: white;
    margin-top: 8px;
    border-bottom: 2px solid #1f4a54;
}

.link:hover {
    background-color: #122e35;
}

#check:checked~.barra {
    transform: translateX(300px);
}

p {
    font: bold 14pt Code;
    margin-left: 15px;
    margin-top: 50px;
    color: white;
}